<template>
  <div class="products">
    <b-breadcrumb :items="breadcrumb" />
    <div>
      <div class="text-right mb-3">
        <b-button variant="success" to="/conta/produtos/new">
          <b-icon-plus /> Cadastrar
        </b-button>
      </div>
      <div v-if="products">
        <ul v-if="products.length" class="list-unstyled">
          <b-media
            v-for="product in products"
            :key="product.id"
            tag="li"
            class="mb-4"
          >
            <template #aside>
              <b-img
                v-if="product.images && product.images.length"
                :src="fileURL(product.images[0].thumb || product.images[0].url)"
                blank-color="#abc"
                width="100"
                alt="placeholder"
              />
              <b-img
                v-else
                blank
                blank-color="#E1846D"
                width="100"
                alt="placeholder"
              />
            </template>
            <h5 class="mt-0 mb-1">
              {{ product.name }}
            </h5>
            <p class="mb-2">
              <small>{{ product.price | moeda }}</small>
              <small> / {{ product.qtd }} em estoque</small>
              <small v-if="product.orders">
                / {{ product.orders.length }} pedidos</small>
              <small>
                <b-badge
                  v-if="product.published"
                  v-b-tooltip
                  variant="success"
                  title="Publicado na loja"
                ><b-icon-check /> Publicado</b-badge>
                <b-badge
                  v-else
                  v-b-tooltip
                  variant="light"
                  title="Não publicado na loja"
                >Não publicado</b-badge>
              </small>
            </p>
            <p class="mb-1">
              <n-link
                class="btn btn-info btn-sm"
                :to="'/conta/produtos/' + product._id + '/edit'"
              >
                Editar
              </n-link>
              <b-button variant="danger" size="sm" @click="remove(product)">
                Excluír
              </b-button>
            </p>
          </b-media>
        </ul>
        <b-alert v-else show variant="dark" class="text-center">
          Nenhum item encontrado
        </b-alert>
      </div>
      <div v-else class="text-center">
        <b-spinner small label="Carregando..." />
      </div>
    </div>
  </div>
</template>

<script>
import features from '@/data/features'
export default {
  layout: 'conta',
  data() {
    return {
      products: null
    }
  },
  computed: {
    filesURL() {
      return process.env.FILES_URL
    },
    settings() {
      return this.$store.state.settings
    },
    breadcrumb() {
      let title = features.shop.title
      if (
        this.settings &&
        this.settings.features &&
        this.settings.features.shop &&
        this.settings.features.shop.title
      ) {
        title = this.settings.features.shop.title
      }
      return [
        { text: 'Painel', to: '/conta' },
        { text: title, to: '/conta/shop' },
        { text: 'Produtos', active: true }
      ]
    }
  },
  created() {
    this.list()
  },
  methods: {
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    },
    async list() {
      this.products = await this.$axios.$get('/api/products')
    },
    remove(product) {
      this.$bvModal
        .msgBoxConfirm('Tem certeza que deseja excluír este item?')
        .then(async (confirmed) => {
          if (confirmed) {
            await this.$axios
              .delete('/api/products/' + product._id)
              .then(() => {
                this.list()
                this.$toast.success('Produto removido com sucesso!')
              })
          }
        })
    }
  }
}
</script>
