<template>
  <div>
    <div
      v-if="documents && documents.length > 0"
      class="documents mt-3 mb-3 text-center"
    >
      <!-- <h5 class="mb-3">{{ label }}</h5> -->
      <b-btn
        v-for="doc in documents"
        :key="doc._id"
        :href="fileURL(doc.url)"
        target="_blank"
        class="mr-1 mb-1 text-left"
        variant="primary"
        @click="trackDownload(doc)"
      >
        <div class="mb-1">
          <small><b-icon-paperclip /> Baixar documento </small>
        </div>
        {{ doc.title || doc.url.split('/').pop() }}
      </b-btn>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    documents: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: 'Documentos'
    }
  },
  computed: {
    filesURL() {
      return process.env.FILES_URL
    }
  },
  methods: {
    async trackDownload(doc) {
      await this.$axios.$put('/api/attachments/counter/' + doc._id)
    },
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    }
  }
}
</script>
