<template>
  <b-modal
    size="xl"
    visible
    class="medias-component"
    hide-header
    hide-footer
    @hidden="$router.go(-1)"
  >
    <div class="text-right">
      <b-btn
        pill
        style="float: right;"
        variant="default"
        @click="$router.go(-1)"
      >
        <b-icon-x />
      </b-btn>
    </div>
    <div>
      <div
        v-if="
          (media.type.includes('Vídeo') || media.type.includes('Áudio')) &&
            media.oembed
        "
        class="mb-4"
        v-html="media.oembed"
      />
      <div v-if="media.image" class="mb-4">
        <Banners :items="[media.image]" />
      </div>

      <div>
        <b-badge v-if="media.type">{{ media.type }}</b-badge>
        <h3 class="mt-3">{{ media.title }}</h3>
        <div>
          <small>
            Publicado em:
            {{
              $moment(media.publishing_date).format(
                media.publishing_date_format || "DD/MM/YYYY"
              )
            }}
          </small>
        </div>
        <b-badge
          v-for="category in media.categories"
          :key="category"
          class="mb-1 mr-1"
          variant="primary"
          :to="'/biblioteca?category=' + category"
        >
          <strong><small>{{ category }}</small></strong>
        </b-badge>
        <p v-if="media.description" class="mt-3">{{ media.description }}</p>
        <p v-if="media.authors && media.authors.length">
          Autores:
          <strong>{{
            media.authors
              .map(author =>
                [author.first_name, author.last_name]
                  .filter(name => name)
                  .join(" ")
              )
              .join(", ")
          }}</strong>
        </p>
        <p v-if="media.organizers && media.organizers.length">
          Organizadores:
          <strong>{{
            media.organizers
              .map(organizer =>
                [organizer.first_name, organizer.last_name]
                  .filter(name => name)
                  .join(" ")
              )
              .join(", ")
          }}</strong>
        </p>
        <p v-if="media.publishing_house">
          Editora: <strong>{{ media.publishing_house }}</strong>
        </p>
        <p v-if="media.pages">
          Páginas: <strong>{{ media.pages }}</strong>
        </p>
        <p v-if="media.source">
          Fonte: <strong>{{ sourceVolumeNumber }}</strong>
        </p>
        <!-- <p v-if="media.notes">
          Anotações: <strong>{{ media.notes }}</strong>
        </p> -->
        <p v-if="media.languages && media.languages.length">
          Idiomas: <strong>{{ media.languages.join(", ") }}</strong>
        </p>
        <p v-if="media.institution">
          Instituição: <strong>{{ media.institution }}</strong>
        </p>
        <p v-if="media.city">
          Cidade: <strong>{{ media.city }}</strong>
        </p>
        <p v-if="media.doi">
          DOI: <strong>{{ media.doi }}</strong>
        </p>
        <p v-for="info in media.additional_infos" :key="info.label">
          {{ info.label }}: <strong>{{ info.value }}</strong>
        </p>
        <!-- <p v-if="media.patent_legal_status">
          Disponibilidade: <strong>{{ media.patent_legal_status }}</strong>
        </p> -->
        <Tags :tags="media.tags" />
        <Documents :documents="media.docs" label="Baixar documentos" />
        <!-- <div class="tags-component">
          <b-button
            v-for="tag in media.tags"
            :key="tag._id"
            :to="'/biblioteca?tag=' + tag"
            size="sm"
            class="mr-1"
          >
            {{ tag }}
          </b-button>
        </div> -->
        <share />
      </div>
    </div>
    <br>
    <div class="text-center">
      <b-button variant="secondary" @click="$router.go(-1)">
        <b-icon-x /> Fechar
      </b-button>
    </div>
  </b-modal>
</template>

<script>
export default {
  props: {
    media: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    sourceVolumeNumber() {
      return [
        this.media.source,
        this.media.volume ? 'v. ' + this.media.volume : null,
        this.media.number ? 'n. ' + this.media.number : null
      ]
        .filter(i => i)
        .join(', ')
    }
  },
  methods: {
    trackDownload(doc) {
      this.$gtag.event('action', {
        event_category: 'Biblioteca',
        event_label: 'Baixar documento',
        value: doc.title
      })
    }
  }
}
</script>
