<template>
  <div>
    <b-form-group :label="label" :description="description">
      <b-modal
        :id="'new-attachment-modal-' + inputId"
        title="Selecione ou envie"
        hide-footer
        size="lg"
      >
        <div class="text-center">
          <b-btn variant="success" class="mb-3" @click="uploadClick">
            <b-icon-plus />
            Envie um arquivo
          </b-btn>
          <b-input
            v-model="file_url"
            placeholder="Inserir link do arquivo"
            class="mb-3"
          />
          <b-btn
            v-if="file_url && file_url.startsWith('http')"
            variant="success"
            class="mb-3"
            @click="saveFromUrl"
          >
            Salvar link
          </b-btn>
          <div v-if="attachments">
            <div v-if="attachments.length">
              <p>Ou selecione da galeria:</p>
              <b-input-group class="mb-4">
                <b-input v-model="search" placeholder="Buscar" />
                <template #append>
                  <b-input-group-text>
                    <b-icon-search />
                  </b-input-group-text>
                </template>
              </b-input-group>
              <Gallery :attachments="gallery" select @select="duplicate" />
            </div>
          </div>
          <div v-else class="text-center mt-3">
            <b-spinner small />
          </div>
        </div>
      </b-modal>
      <div v-if="showPreview && !avatar && preview && preview.length">
        <div>
          <table class="table b-table b-table-stacked-sm">
            <tbody>
              <tr v-for="(attachment, index) in preview" :key="index">
                <td class="img-td">
                  <div style="background-color: #f0f0f0;" class="p-3">
                    <img
                      v-if="attachment.type === 'images'"
                      :src="fileURL(attachment.thumb || attachment.url)"
                      width="100"
                      thumbnail
                    >
                    <div
                      v-else
                      style="width: 100px; height: 100px;"
                      class="text-center m-auto"
                    >
                      <b-icon-file-earmark-text class="thumb-icon" />
                    </div>
                  </div>
                </td>
                <td>
                  <b-modal
                    :id="'attachment-modal-' + inputId + '-' + index"
                    title="Editar"
                    hide-footer
                    size="lg"
                  >
                    <AttachmentForm
                      v-if="attachment"
                      :type="type"
                      :value="preview[index]"
                      @input="(updated) => attachmentUpdated(updated, index)"
                      @remove="() => deleteFile(index)"
                    />
                  </b-modal>
                  <p v-if="attachment.title" class="mb-2">
                    <strong>{{ attachment.title }}</strong>
                  </p>
                  <p v-if="attachment.description" class="mb-3">
                    {{ attachment.description }}
                  </p>
                  <small v-if="attachment.counter">N.º Downloads:
                    <strong>{{ attachment.counter }}</strong></small>
                  <p v-if="attachment.url" class="mb-3">
                    <a
                      :href="
                        fileURL(attachment.url)
                      "
                      target="_blank"
                    >
                      <small>Ver arquivo</small>
                    </a>
                  </p>
                  <b-btn variant="secondary" size="sm" @click="$bvModal.show('attachment-modal-' + inputId + '-' + index)">
                    Editar
                  </b-btn>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <b-button v-if="is_loading" variant="secondary" disabled>
        <b-spinner small />
        Enviando...
      </b-button>
      <a v-else-if="avatar" @click="upload">
        <b-avatar
          size="6rem"
          :src="
            (preview && preview[0]
              ? fileURL(preview[0].thumb || preview[0].url)
              : null)
          "
        >
          <template #badge><b-icon-camera /></template>
        </b-avatar>
      </a>
      <b-btn v-else variant="success" @click="upload">
        <b-icon-plus />
        Adicionar
        {{ btnLabel }}
      </b-btn>
      <input
        v-show="false"
        :ref="'uploads-input-' + inputId"
        :multiple="multiple"
        :accept="accept"
        type="file"
        @change="uploadFiles"
      >
    </b-form-group>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: [Object, Array],
      default: () => null
    },
    multiple: {
      type: Boolean,
      default: false
    },
    url: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: 'Arquivos'
    },
    description: {
      type: String,
      default: null
    },
    type: {
      type: String,
      required: true
    },
    showPreview: {
      type: Boolean,
      default: true
    },
    avatar: {
      type: Boolean,
      default: false
    },
    editTitle: {
      type: Boolean,
      default: false
    },
    editDescription: {
      type: Boolean,
      default: false
    },
    editLink: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      is_loading: false,
      attachments: null,
      search: '',
      file_url: null
    }
  },
  computed: {
    filesURL() {
      return process.env.FILES_URL
    },
    btnLabel() {
      if (this.type === 'images') {
        return 'image' + (this.multiple ? 'ns' : 'm')
      } else {
        return 'documento' + (this.multiple ? 's' : '')
      }
    },
    gallery() {
      if (this.attachments && this.search) {
        return this.attachments.filter((attachment) => {
          const search = this.search.toLowerCase()
          const text = (
            attachment.title + attachment.description + attachment.url || ''
          ).toLowerCase()
          return text.includes(search)
        })
      } else {
        return this.attachments
      }
    },
    inputId() {
      return Math.random().toString(36).substring(2, 15)
    },
    accept() {
      if (this.type === 'documents') {
        return 'application/msword, application/vnd.google-earth.kml+xml, image/*, application/pdf'
      } else if (this.type === 'images') {
        return 'image/*'
      }
      return null
    },
    preview() {
      if (Array.isArray(this.value)) {
        return this.value
      } else if (this.value) {
        return [this.value]
      }
      return []
    }
  },
  methods: {
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    },
    openImage(attachment, index) {
      if (this.multiple) {
        const ret = [...this.value]
        ret[index] = attachment
        this.$emit('input', ret)
      } else {
        this.$emit('input', attachment)
      }
      this.$bvModal.hide('attachment-modal-' + this.inputId + '-' + index)
    },
    attachmentUpdated(attachment, index) {
      if (this.multiple) {
        const ret = [...this.value]
        ret[index] = attachment
        this.$emit('input', ret)
      } else {
        this.$emit('input', attachment)
      }
      this.$bvModal.hide('attachment-modal-' + this.inputId + '-' + index)
    },
    saveFromUrl() {
      if (this.file_url) {
        this.$axios
          .$post('/api/attachments', { url: this.file_url, type: this.type })
          .then((attachment) => {
            this.callbackUploaded(attachment)
            this.is_loading = false
          })
      }
    },
    duplicate(attachment) {
      if (attachment && attachment._id) {
        this.$axios
          .$put('/api/attachments/' + attachment._id + '/duplicate')
          .then((duplicated) => {
            this.callbackUploaded(duplicated)
            this.is_loading = false
          })
      }
    },
    uploadFiles(e) {
      this.$bvModal.hide('new-attachment-modal-' + this.inputId)
      this.is_loading = true
      const files = e.target.files || e.dataTransfer.files
      for (let i = 0; i < files.length; i++) {
        const file = files[i]
        const formData = new FormData()
        formData.append('file', file, file.name)
        this.$axios
          .$post('/api/uploads/' + this.type, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then((uploaded) => {
            this.callbackUploaded(uploaded)
            this.is_loading = false
          })
      }
    },
    callbackUploaded(uploaded) {
      if (this.multiple) {
        let ret = [uploaded]
        if (this.value) {
          ret = this.value.concat(uploaded)
        }
        this.$emit('input', ret)
      } else {
        this.$emit('input', uploaded)
      }
      this.$emit('uploaded', uploaded)
      this.$bvModal.hide('new-attachment-modal-' + this.inputId)
    },
    deleteFile(index) {
      if (this.multiple) {
        this.$emit(
          'input',
          this.value.filter((item, i) => i !== index)
        )
      } else {
        this.$emit('input', null)
      }
      this.$bvModal.hide('attachment-modal-' + this.inputId + '-' + index)
    },
    async upload() {
      this.attachments = null
      this.attachments = await this.$axios.$get('/api/attachments', {
        params: { type: this.type }
      })
      this.$bvModal.show('new-attachment-modal-' + this.inputId)
    },
    uploadClick() {
      // eslint-disable-next-line dot-notation
      this.$refs['uploads-input-' + this.inputId].click()
    }
  }
}
</script>
