@import 'bootstrap/scss/bootstrap.scss'
@import 'bootstrap-vue/src/index.scss'

body
  font-family: $primaryFont
  color: $dark
pre
  background-color: $white
a
  cursor: pointer
  color: var(--primary)
  &:hover
    text-decoration: none
    color: var(--primary)
.nuxt-progress
  background-color: var(--primary)
.title
  letter-spacing: 3px
  text-transform: uppercase
.pointer
  cursor: pointer

.bg-white
  background-color: $white !important
  border-color: $white !important
  color: $dark !important
  h5
    color: var(--secondary)
.btn-secondary, .badge-secondary, .bg-secondary, .btn-primary, .badge-primary, .bg-primary
  color: $white
.btn-light, .badge-light, .bg-light
  color: $dark
.bg-light
  .navbar-nav .nav-link
    color: $dark
.bg-primary, .btn-primary, .badge-primary
  background-color: var(--primary) !important
  border-color: var(--primary) !important

.bg-secondary, .btn-secondary, .badge-secondary
  background-color: var(--secondary) !important
  border-color: var(--secondary) !important

.btn-home
  font-size: 11px
  letter-spacing: 3px
  padding: 15px 30px
  border-radius: 1px
  text-transform: uppercase
  @media (max-width: 768px)
    font-size: 10px
    padding: 5px 10px
    letter-spacing: 1px
    border-radius: 3px


.badge
  padding: 5px 10px
  font-weight: normal
.b-table
  tr > td, tr > th
    vertical-align: middle !important
    font-weight: normal
    &[data-label]::before
      font-weight: 100 !important
      // font-size: 14px
  thead, tfoot
    background-color: var(--primary)
    color: $white
  @media (max-width: 992px)
    tfoot, .b-table-bottom-row
      display: block !important
      td
        text-align: center !important
    .b-table-bottom-row
      display: block !important
      text-align: center
      > th, > td
        display: block
      td:empty
        display: none !important

.pre-line
  white-space: pre-line

.breadcrumb-wrapper
  background-color: $light
  .breadcrumb
    background-color: $light
    color: var(--primary)
    border-radius: 0
    margin: 0
    padding: 15px 0
    .breadcrumb-item
      &:not(:first-child)
        &::before
          color: var(--secondary)
          content: '\\'
          &:first-child
            display: none
      &.active
        color: var(--primary)
    a
      color: var(--primary)
      font-weight: 600
.conta
  .breadcrumb
    background-color: var(--primary)
    .breadcrumb-item
      &::before
        color: $white
      &.active
        color: $white
    a
      color: $white
      font-weight: 600

.form-group
  color: $dark
  margin-bottom: 2rem
  legend
    font-weight: bold

.card-columns
  @media (max-width: 992px)
    column-count: 2
  @media (max-width: 768px)
    column-count: 1
.card
  border: none
  background-color: var(--primary)
  &.bg-dark
    color: #fff

.b-sidebar 
  width: 420px 

.sidebar
  background-color: var(--primary)
  border-radius: 5px
  a
    color: $white
    &.nuxt-link-active
      border-radius: 5px
      background-color: var(--secondary)

header
  font-family: $primaryFont
  .navbar
    padding: 15px
  .navbar-brand
    color: $white !important
    img
      max-height: 50px
  .navbar-nav
    > li
      font-size: 22px
    @media (min-width: 992px)
      > li + li::before
        padding: 0
        color: $white
        content: " \\ "
        margin: 0
        font-size: 11px
    .nav-item
      display: inline-block
      .nav-link
        color: $white
        text-transform: uppercase
        font-size: 11px
        display: inline-block
        letter-spacing: 2px
        padding: 5px 15px
        &.nuxt-link-active
          background-size: 100% 100%
          background-image: url(~assets/img/bg-menu.png)
        &:hover
          color: $white
  #header-menu
    .dropdown-menu
      background-color: var(--primary)
      a
        color: $white
        &:hover
          background-color: var(--secondary)
        &.nuxt-link-exact-active
          background-color: var(--secondary)
.sub-header
  height: 10px
  width: 100%
  background-color: $light
.header-transparent
  header
    @media (min-width: 992px)
      position: absolute
      z-index: 11
      width: 100%
      .navbar
        background: transparent !important
        padding-top: 25px

  .sub-header
    display: none
footer
  margin-top: -1px
  a, a:hover
    font-weight: 200
    color: #fff
  .links
    letter-spacing: 3px
  .social
    font-size: 30px
    svg
      max-width: 30px
  .navbar-nav
    flex-direction: row
    @media (min-width: 992px)
      > li + li::before
        content: " \\ "
        padding-right: 15px
    .nav-item
      display: inline-block
      .nav-link
        color: $white
        text-transform: uppercase
        font-size: 11px
        display: inline-block
        padding-right: 15px

.title
  hr
    width: 60px
    height: 2px
    background: var(--secondary)
    margin-top: 10px

  h1, h2, h3, h4
    margin-bottom: 0px
    text-align: center
    color: var(--primary)

.content
  padding-top: 0
  padding-bottom: 30px
  .card
    color: $dark

  .page
    .title
      hr
        width: 60px
        height: 2px
        background: var(--secondary)
        margin-top: 10px

      h4
        margin-bottom: 0px
        text-align: center
      h3
        color: $white
        font-size: 24px
        font-weight: 700
        text-transform: uppercase
      p
        color: $white
        font-size: 12px
        text-transform: uppercase
        font-weight: normal
        a
          color: $white

.banners
  .carousel-caption
    height: 100%
    display: flex
    align-content: center
    align-items: center
    justify-content: center
    flex-flow: column
    margin-bottom: -20px
    left: 0
    right: 0
    .title
      @media (max-width: 768px)
        font-size: 14px
    p
      @media (max-width: 768px)
        display: none
  .carousel-indicators
    bottom: 10px
    li
      width: 6px
      height: 6px
      background-color: transparent
      border: 1px solid $white
      background-color: $white
      border-radius: 100%

.conta
  .conta-menu
    .navbar
      .navbar-expand-lg .navbar-nav
        flex-direction: column
      // display: block
      .container-lg
        display: block
      // .navbar-collapse
      //   display: block

.quill-editor.fullscreen
  background: red
  position: absolute
  top:  0px
  right:  0px
  bottom: 0px
  left: calc((100vw - 421px) * -1)
  z-index: 1
  .ql-fullscreen
    background-image: url(~assets/img/fullscreen-off.svg) !important
.ql-iframe
  background-image: url(~assets/img/ql-code.png) !important
  background-size: 20px !important
  background-repeat: no-repeat !important
  background-position: center !important
.ql-fullscreen
  background-image: url(~assets/img/fullscreen.svg) !important
  background-size: 20px !important
  background-repeat: no-repeat !important
  background-position: center !important
.ql-video[src*="youtube"]
  width: 80%
  margin: auto
  display: block
  height: 32vw
  @media (max-width: 768px)
    width: 100%
  &[height]
    height: auto
    overflow: hidden
    min-height: 232px
.ql-align-center
  text-align: center
.dynamic-content
  // background-color: $white
  // color: #303030
  p
    margin-bottom: 0
  img, iframe
    max-width: 100%
    margin-top: 30px
    margin-bottom: 30px
  a 
    color: $primary !important
    font-weight: 600
    &:hover
      color: $secondary !important
      
.search
  input, select
    color: var(--primary) !important
    border-color: var(--primary)
    font-size: 16px
    font-weight: bold
    &::placeholder
      color: var(--primary)

.shop
  .btn-cart
    font-size: 1rem
  .card
    background-color: $white
    border: 1px solid $gray-300
  .products
    .card
      margin-bottom: 30px
      border-radius: 5px
      .card-body
        padding-bottom: 0
        h2
          margin-bottom: 0
          font-size: 16px
          font-weight: 100
          color: #505050
      .card-footer
        background-color: transparent
        border-top: none
  .dropdown
    border-radius: 5px
    background-color: var(--primary)
    color: $white
    cursor: pointer
    .dropdown-toggle
      color: $white
      text-align: left
      flex: 0 1 auto
      width: 100%
      overflow-x: hidden
      line-height: normal
      padding: 15px
      &:focus
        box-shadow: none
      &::after
        margin-left: 10px
        color: $white
    .dropdown-menu
      min-width: 100%
      border-radius: 5px
      .dropdown-item
        color: var(--primary)
        &:active
          color: $white
  .product_thumbs
    padding: 10px
    > div
      padding: 5px
    img
      width: 100%
      &.active
        opacity: .5
    @media (max-width: 576px)
      display: none
  .carousel-caption
    right: 0
    left: 20px
    text-align: left
    h5
      font-size: 1em
      text-transform: inherit
      margin-bottom: 0
    p
      font-size: 0.8em

.add-to-cart
  font-size: 18px
  font-weight: 600
  .cart-actions
    display: inline-block
    margin-bottom: 10px
    .price
      display: inline-block
      margin-right: 5px
      .currency, .decimal
        font-size: 10px
        top: -4px
        position: relative
    .qtd
      width: 70px
      display: inline-block
      margin-right: 5px
      .buttons
        margin: auto
        margin-top: -32px
        font-size: 18px
        font-weight: 200
        .minus
          cursor: pointer
          margin-left: 10px
          width: 18px
        .plus
          float: right
          cursor: pointer
          width: 18px
          display: inline-block
          position: relative
          left: -2px
      input
        border-radius: 15px
        text-align: center
        width: 70px
        color: var(--primary)
        font-size: 15px
        font-weight: 600
        height: 32px
    .btn
      .b-icon
        font-size: 12px
      img
        width: 18px
    .btn-cart-counter
      display: inline-block
      text-align: center
      font-size: 11px
      font-weight: 400
      background-color: var(--secondary)
      color: $white
      border-radius: 3px
      padding: 0 5px
  .info
    p
      font-size: 12px
      font-weight: 200
      margin: 0
  .alert
    font-size: 14px
.form-phones
  .btn
    float: right
  input
    margin-bottom: 10px
.custom-calendar
  $day-border: 1px solid #b8c2cc
  $day-border-highlight: 1px solid #b8c2cc
  $day-width: 90px
  $day-height: 90px
  $weekday-bg: #f8fafc
  $weekday-border: 1px solid #eaeaea
  width: 100% !important
  border-radius: 15px !important
  .vc-grid-container
    border-radius: 15px
  .vc-header
    background-color: $white !important
    padding: 10px 0 !important
  .vc-weekday
    background-color: $weekday-bg
    border-bottom: $weekday-border
    border-top: $weekday-border
    padding: 10px 0
  .vc-day
    padding: 10px
    text-align: left
    height: $day-height
    min-width: $day-width
    background-color: white

    &.weekday-1,
    &.weekday-7
      background-color: #eff8ff
    &:not(.on-bottom)
      border-bottom: $day-border
      &.weekday-1
        border-bottom: $day-border-highlight
    &:not(.on-right)
      border-right: $day-border
    .badge
      white-space: normal
      border-radius: 5px
      margin-top: 2px
      text-align: left
    .flex-grow
      overflow-y: auto
      max-height: 65px
  .vc-day-dots
    margin-bottom: 5px
.share-component
  .button-social
    padding: 3px 10px
    &:hover
      color: #fff
    span[class^="counter-"]
      display: none

.posts-component
  .row
    margin-left: -5px
    margin-right: -5px
    .col-lg-3, .col-sm-6
      padding-left: 5px
      padding-right: 5px
  .card
    height: 100%
    border: none
    color: $white
    background-color: var(--primary)
    margin-bottom: 15px
    h5
      font-weight: bold
    a
      color: $white
    .img
      max-height: 16vw
      overflow-y: hidden
      @media (max-width: 992px)
        max-height: 14vw
      @media (max-width: 768px)
        max-height: none
.btn, .badge, .v-select
  &.pending
    background-color: $warning
    border-color: $warning
    color: $white
    .vs__selected, input, .vs__actions, .vs__clear
      color: $white
  &.processing
    background-color: $light
    border-color: $light
    color: $dark
    .vs__selected, input, .vs__actions, .vs__clear
      color: $dark
  &.sent
    background-color: $info
    border-color: $info
    color: $white
    .vs__selected, input, .vs__actions, .vs__clear
      color: $white
  &.received
    background-color: $success
    border-color: $success
    color: $white
    .vs__selected, input, .vs__actions, .vs__clear
      color: $white
  &.canceled
    background-color: $danger
    border-color: $danger
    color: $white
    .vs__selected, input, .vs__actions, .vs__clear
      color: $white
.nav-tabs .nav-link.active
  background-color: var(--primary)
  color: $white
  border: none
.thumb-icon
  font-size: 100px
.img-td
  @media (min-width: 768px)
    width: 100px

.pre-wrap
  white-space: pre-wrap
.alert-success
  background-color: $success
  color: #fff

.vue-dynamic-layout 
  
  .dl-section, .dl-column
    padding-top: 16px
    padding-bottom: 16px
  .vue-dynamic-layout-editor
    background-color: $light
    padding: 15px
    .btn-sm
      font-size: 13px
    legend
      font-size: 12px
      padding-bottom: 0
    .form-group
      margin-bottom: 10px
    .section-tabs
      li
        margin-bottom: -1px
        
      .nav-link
        font-size: 13px
        color: var(--primary)
        &.active
          background-color: transparent
          border-radius: 0
          // color: var(--primary)
          font-weight: bold

  &.editing
    position: fixed
    top: 0
    background-color: #fff
    z-index: 11
    width: 100vw
    max-width: 100%
    height: 100vh
    overflow-x: hidden
    .vue-dynamic-layout-editor
      min-height: 100%
      .vue-dynamic-layout-component-editor
        background-color: $light
  .vue-dynamic-layout-edit-grid
    height: 100%
    > div
        overflow-y: auto
        height: 100%
  .info-box
    font-size: 12px
    text-align: right

  .banners-component
    .banner-description
      background-color: var(--secondary)
      color: #fff
      padding: 1rem
      text-align: center
  .verte__guide > svg
    border: 1px solid #000 !important
    border-radius: 50%

.banners-component
  .banner-description
    background-color: $secondary
    color: #fff
    padding: 1rem
    text-align: center
  .banner-credits
    position: absolute
    bottom: 10px
    right: 10px
    font-size: 14px
    font-style: italic

.medias
  .card
    .card-text
      color: #fff