<template>
  <div class="default-layout" :class="{
    'header-transparent': $route.path === '/' && settings && settings.site_banners && settings.site_banners.length > 0,
    'home': $route.path === '/'
  }"
  >
    <div v-show="loading" class="text-center py-5">
      <b-spinner small label="Carregando..." />
    </div>
    <div v-show="!loading">
      <div v-show="settings">
        <Header />
        <!-- <div class="sub-header" /> -->
        <Nuxt />
        <Footer />
      </div>
      <div v-if="!settings" class="my-5">
        <b-container>
          <div v-if="baseURL">
            <h4>Este site ainda não foi configurado.</h4>
            <h5 class="mb-5">Vamos configurá-lo?</h5>
            <SetupForm />
          </div>
          <div v-else>
            <h4>Site no ar! Agora você deve configurar o domínio e a variável de ambiente BASE_URL.</h4>
          </div>
        </b-container>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: true
    }
  },
  computed: {
    settings () {
      return this.$store.state.settings
    },
    baseURL() {
      return process.env.BASE_URL
    },
    filesURL() {
      return process.env.FILES_URL
    }
  },
  mounted () {
    if (this.settings && this.settings.primary_color) {
      document.documentElement.style.setProperty('--primary', this.settings.primary_color)
    }
    if (this.settings && this.settings.secondary_color) {
      document.documentElement.style.setProperty('--secondary', this.settings.secondary_color)
    }
    this.loading = false
  },
  methods: {
    fileURL(url) {
      if (url) {
        return url.startsWith('http') ? url : (this.filesURL || '') + url
      }
    }
  },
  head () {
    const title = (this.settings ? this.settings.title : process.env.APP_NAME)
    const description = (this.settings ? this.settings.description : '')
    return {
      title,
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          content: title
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: title
        },
        {
          hid: 'apple-mobile-web-app-title',
          name: 'apple-mobile-web-app-title',
          content: title
        },
        {
          hid: 'description',
          name: 'description',
          content: description
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: description
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: process.env.BASE_URL + this.$route.path
        }
      ],
      link: [
        { rel: 'icon', type: 'image/x-icon', href: (this.settings && this.settings.site_favicon ? this.fileURL(this.settings.site_favicon.url) : '/favicon.ico') }
      ]
    }
  }
}
</script>
